
.dialog {
    --box-shadow: 0 1px 5px grey;
    --max-height: 60% !important;
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    margin-top: -40% !important;
    margin-left: -50% !important;
}

.success {
    --background: lightcyan;
}

.error {
    --background: lightsalmon;
}

.dialog-50x {
    --min-width: 50%;
}

.dialog-80x {
    --min-width: 80%;
}

.dialog-95x {
    --min-width: 95%;
}