.buttons-toolbar {
    bottom: 10px !important;

    .end-button {
        box-shadow: 0 1px 5px grey; 
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .end-button:hover {
        opacity: 0.95;
    }
}

.fixed-buttons-toolbar {
    position: fixed !important;
}

.centered-buttons-toolbar {
    left: 35% !important;
}