.main-list {
    
    small {
        word-wrap: normal;
        line-height: 1rem;
        color: var(--ion-color-medium-shade);
        font-size: 80%;
    }

    h6 {
        margin: 0;
        font-size: 14px;
    }
}